.tb-module-personiopositionsingle:before, .tb-module-personiopositionlist:before {
    content: url(../gfx/personio_icon.png);
    display: block;
}

body.post-type-archive-personioposition .site-content, body.post-type-archive-personioposition .ast-container { display: block; }

body.post-type-archive-personioposition .ast-container .type-personioposition { margin-bottom: 1em; }

#fl-builder-blocks-personio .fl-builder-block[data-type='class-personio-positions'] .fl-builder-block-icon svg,
#fl-builder-blocks-personio .fl-builder-block[data-type='class-personio-position'] .fl-builder-block-icon svg {
    display: none
}
#fl-builder-blocks-personio .fl-builder-block[data-type='class-personio-positions'] .fl-builder-block-icon:before,
#fl-builder-blocks-personio .fl-builder-block[data-type='class-personio-position'] .fl-builder-block-icon:before {
    content: url(../gfx/personio_icon.png);
    display: block;
}

span[itemprop="jobLocation"], span[itemprop="hiringOrganization"] { display: none }

.wpforms-container .wpforms-field.personioId { display: none }

.personio-integration-back-button { margin-left: 1em }