/.idea
/build/
!/build/build.properties.dist
!/build/build.xml
!/build/languages
!/build/minify_css.php
!/build/libs
/blocks/application-button/build/
/blocks/description/build/
/blocks/details/build/
/blocks/filter-list/build/
/blocks/filter-select/build/
/blocks/list/build/
/blocks/setup/build/
/blocks/show/build/
/inc/constants2.php
*.zip
languages/*.json
/lib/
*.min.css
