/.idea
/app/Dependencies
/build/
!/build/build.properties.dist
!/build/build.xml
!/build/languages
!/build/minify_css.php
!/build/libs
!/build/index.php
/blocks/application-button/build/
/blocks/description/build/
/blocks/details/build/
/blocks/filter-list/build/
/blocks/filter-select/build/
/blocks/list/build/
/blocks/setup/build/
/blocks/show/build/
/inc/constants_urls.php
*.zip
languages/*.json
/vendor/
*.min.css
