parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - "#^Unsafe usage of new static#"
    - "#of function absint expects#"
    - "#WPSEO_Options#"
    - "#Elementor#"
    - "#Call to an undefined method(.*)tick#"
    - "#Call to an undefined method(.*)finish#"
    - "#rocket_clean_domain#"
    - "#WpFastestCache#"
    - "#wp-admin/includes#"
    - "#WP_CLI#"
    - "#Yoast#"
    - "#wp_safe_redirect#"
    - "#with generic class WP_REST_Request but does not specify its types#"
    - "#extends generic class WP_Widget but does not specify its types#"
    - "#ARRAY_A#"
    - "#WP_PLUGIN_DIR#"
    - "#WPMU_PLUGIN_DIR#"
    - "#PERSONIO_INTEGRATION_LIGHT#"
    - "#WPINC#"
    - "#_IN_SECONDS#"
    - "#WPINC#"
  paths:
    - app
    - personio-integration-light.php
    - uninstall.php
    - inc/constants.php
    - inc/constants_urls.php
  excludePaths:
     - app/Dependencies/*
  scanFiles:
     - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
     - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
     - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
     - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
     - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
  earlyTerminatingFunctionCalls:
     - wp_send_json
