:root {
    --personio-pro-bg: yellow;
    --personio-pro-font: #000;
    --personio-hint-bg: #c45602;
    --personio-hint-font: #fff;
    --personio-pro-hint-bg: #fca15b;
    --personio-pro-hint-font: #000;
}

body.post-type-personioposition {
	overflow-y: scroll;
}

#dashboard_personio_integration_positions .inside {
    margin: 0;
    padding: 0
}

#dashboard_personio_integration_positions .inside > p {
    padding: 8px 12px;
}

/* Gutenberg multi-select */
.wp-personio-integration-selectcontrol-multiple select {
    height: 120px !important;
}

/* Gutenberg range slider */
.wp-personio-integration-range {
    padding: 0 24px;
}

/* Elementor-Widget-Icon */
.wp-personio-integration-icon:after {
    content: url(../gfx/personio_icon.png);
    display: block;
}

.personio_integration_light-field-width { width: 100% }

.column-dragdrop { width: 20px }

.ui-sortable-handle { cursor: pointer; }

.pro-marker {
    background-color: var(--personio-pro-bg);
    border-radius: 4px;
    color: var(--personio-pro-font);
    display: inline-block;
	line-height: 1.6;
    padding: 0 8px;
	text-decoration: none
}

.pro-marker a {
	font-size: 16px;
	line-height: 1.4;
}

body.post-type-personioposition .wrap > h1 {
	display: inline-block;
	margin-right: 5px;
}

body.post-type-personioposition .wrap .wp-heading-inline + .page-title-action {
	margin-left: 0.4em;
}

.post-type-personioposition .personio-pro-hint, .personioposition_page_personioPositions .personio-pro-hint, .personioposition_page_personioApplication .personio-pro-hint {
    background-color: var(--personio-pro-hint-bg);
    color: var(--personio-pro-hint-font);
	margin-top: 12px;
    padding: 12px;
}

.post-type-personioposition .personio-integration-hint, .personioposition_page_personioPositions .personio-integration-hint, .post-type-personioformtemplate .personio-integration-hint {
	background-color: var(--personio-hint-bg);
	color: var(--personio-hint-font);
	margin-top: 12px;
	padding: 12px;
}

.post-type-personioposition .personio-integration-hint a, .personioposition_page_personioPositions .personio-integration-hint a, .post-type-personioformtemplate .personio-integration-hint a {
	color: inherit;
}

.post-type-personioposition .personio-pro-hint:first-child, .post-type-personioposition .personio-integration-hint:first-child, .post-type-personioformtemplate .personio-integration-hint:first-child {
	margin-top: 0;
}

.post-type-personioposition .tab-content > .personio-integration-hint:first-child:first-child {
	margin-top: 1em;
}

.post-type-personioposition:not(.personioposition_page_personioApplication) div.wrap > .personio-pro-hint {
    padding: 0 8px;
}

.personioposition_page_personioPositions .highlight {
    background-color: var(--personio-hint-bg);
    color: var(--personio-hint-font);
    padding: 12px;
}

.personioposition_page_personioPositions .highlight a {
    color: var(--personio-hint-font);
}

body.post-type-personioposition a:not(.personio-integration-icon-link):not(.review-hint-button)[target="_blank"]:after {
	content: "\f504";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: .9em;
	margin-left: 4px;
	vertical-align: middle;
}

body.post-type-personioposition .nav-tab a[target="_blank"]:after, body.post-type-personioposition a.nav-tab[target="_blank"]:after {
	font-size: 1.2em;
	margin-top: -7px;
}

.personioposition_page_personioPositions th#state { width: 40px }
.personioposition_page_personioPositions td.state { text-align: center }
.personioposition_page_personioPositions th#category { width: 120px }

body.post-type-personioposition th#id, body.post-type-personioposition th#sort { width: 80px; }

body.post-type-personioposition .tab-content {
    overflow: visible;
    height: auto;
    min-height: auto;
}

body.post-type-personioposition #personioposition-edit-hints {
    background-color: var(--personio-pro-hint-bg);
    border: 0;
}

body.post-type-personioposition #personioposition-edit-hints .postbox-header { border: 0 }

body.post-type-personioposition #personioposition-edit-hints .handle-actions { display: none }

#etfw-transients .dashicons-star-filled, .etfw-transient .dashicons-star-filled { color: #ffb900 }

.wp-pointer-content p img {
	margin-right: 8px;
	vertical-align: middle;
}

body.easy-dialog-for-wordpress.wp-core-ui .components-modal__frame.easy-dialog {
	min-width: 400px;
}

body.easy-dialog-for-wordpress.wp-core-ui .components-modal__frame.easy-dialog:after {
	background-image: url(/wp-content/plugins/personio-integration-light/gfx/personio_logo_big.png);
	height: 41px;
	float: right;
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 130px;
	z-index: 100;
}

body.easy-dialog-for-wordpress.wp-core-ui .hide-header .easy-dialog-for-wordpress-text {
	padding-right: 162px;
}

body.easy-dialog-for-wordpress.wp-core-ui .components-modal__header .components-modal__header-heading {
	padding-right: 162px;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog-for-wordpress-text label {
	display: block;
	font-weight: bold;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog-for-wordpress-text:last-of-type {
	margin-bottom: 1em;
}

.nav-tab-help {
	background-color: var(--personio-pro-hint-bg);
	float: right;
	line-height: 1.6;
	margin-right: 4px;
	position: relative;
	bottom: -1px;
	z-index: 1;
}

.nav-tab-help:before {
	content: "\f125";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: 12px;
	margin-right: 8px;
}

body:not(.personio-integration) #menu-posts-personioposition a[href*='personioApplication'], body:not(.personio-integration) #menu-posts-personioposition a[href*='personioApplication']:hover, body:not(.personio-integration) #menu-posts-personioposition a[href='#']:visited, body:not(.personio-integration) #menu-posts-personioposition a[href='#']:active, body:not(.personio-integration) #menu-posts-personioposition a[href*='personioApplication']:focus {
	color: var(--personio-pro-hint-bg);
}

body form.personio-integration-settings input.button { margin-right: 1em }

body.post-type-personioposition a.review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

.personio-integration-applications-hint button.is-primary:after {
	content: "\f504";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

.nav-tab.copyright { position: relative;z-index: 1 }

.nav-tab.copyright:after {
	content: '®';
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	text-align: center;
}

.tab-content img.logo {
	width: 120px;
}

body.post-php.post-type-personioposition #post-body-content { display: none }

.personio-integration-dialog-error .easy-dialog-for-wordpress-text p:before {
	content: "\f14c";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	vertical-align: middle;
	color: red;
	font-size: 1.6em;
	margin-right: 8px;
}

.personioposition_page_personiopositionextensions .button-state-enabled {
	background-color: green;
	color: #fff;
}

.personioposition_page_personiopositionextensions .button-state-disabled {
	background-color: #eee;
	color: #000;
}

.personioposition_page_personiopositionextensions #category {
	width: 128px;
}

.personioposition_page_personiopositionextensions #state {
	width: 160px;
}

.personioposition_page_personiopositionextensions #name {
	width: 160px;
}

.easy-setup-for-wordpress-header:before {
	background-image: url(../gfx/personio_logo_big.png);
}

#easy-setup-for-wordpress .components-panel__body details {
	margin-bottom: 1em;
}

#easy-setup-for-wordpress .components-panel__body details summary { cursor: pointer }

body.post-type-personioposition details {
	margin-bottom: 1em;
}

body.post-type-personioposition summary {
	cursor: pointer;
	text-indent: -14px;
	padding-left: 14px;
}

body.post-type-personioposition details > div {
	line-height: 1.8;
	margin-top: .4em;
	padding-left: 14px;
}

body.post-type-personioposition .icl_subsubsub { display: none !important; }

body.personioposition_page_personioPositions .state .dashicons-yes { color: green }
body.personioposition_page_personioPositions .state .dashicons-no { color: red }

body.post-type-personioposition .postbox-header a {
	float: right;
	margin-left: 6px;
	text-decoration: none
}

body.post-type-personioposition #minor-publishing-actions, body.post-type-personioposition #misc-publishing-actions { display: none }

body.post-type-personioposition #poststuff header h2 {
	font-size: 23px;
	padding-left: 0;
}

body.post-type-personioposition #poststuff .postbox-header h2 {
	display: block;
}

body.post-type-personioposition .button span.dashicons {
	vertical-align: middle;
	position: relative;
	top: -2px;
	z-index: 1;
}

#contextual-help-columns div[id*=tab-panel-personioposition] img {
	float: right;
	margin-left: 1em;
	width: 240px;
}

#dashboard_personio_integration_positions p:last-child:after {
	content: url(../gfx/personio_icon.png);
	float: right;
}

.easy-dialog.personio-integration-import-error ul {
	list-style: disc;
	padding-left: 1em;
	max-width: 320px;
}

.personioposition_page_personioPositions table th {
	text-align: left;
}

.personio-integration-field {
	margin-bottom: 8px;
	width: 100% !important;
}

.personio-integration-field label {
	display: block;
	font-weight: 600;
	line-height: 1.8;
}

.personio-integration-field input:not(.customformfieldrequired), .personio-integration-field select, .personio-integration-field textarea {
	display: inline-block;
	width: 240px;
}

.personio-integration-field input[type="checkbox"] {
	width: auto;
}

.wp-core-ui .personio-integration-field button {
	margin-right: 1em;
	vertical-align: middle
}
.wp-core-ui .personio-integration-field button + p { display: inline-block }

#personioposition-pro-infos {
	.hndle { cursor: default }
	.inside { overflow: hidden }
	img {
		float: right;
		width: 240px;
	}

	li:before {
		color: green;
		content: "\f12a";
		font-family: dashicons, sans-serif;
		margin: 0 .4em 0 0;
		font-size: 16px;
		vertical-align: middle;
		position: relative;
		top: -2px;
		z-index: 1;
	}
}

#personioposition-pro-costs {
	.hndle { cursor: default }
	.inside { overflow: hidden }
	img {
		float: right;
		width: 120px;
	}
	table {
		margin-bottom: 2em;
		width: 100%;
	}
	td {
		text-align: center;
	}
	td img {
		display: block;
		float: none;
		margin: 0 auto;
		max-width: 300px;
		width: auto;
	}
	label { cursor: pointer }
}

#personioposition-pro-license-key {
	.hndle { cursor: default }
	label { cursor: pointer }
}

body.easy-dialog-for-wordpress.wp-core-ui .personio-integration-manual-import-selection .easy-dialog-for-wordpress-text label {
	font-weight: normal;
}
