#wp-plugin-setup {
	margin: 0 auto;
	width: 60%;
	min-width: 420px;

	.components-base-control__field > label {
		font-size: 16px;
		font-weight: 600;
		text-transform: none
	}

	button {
		margin-top: 1em;
	}
}
