#wp-plugin-setup {
	margin: 0 auto;
	width: 60%;
	min-width: 420px;

	.components-base-control__field > label {
		display: block;
		font-size: 16px;
		margin-bottom: 8px;
		font-weight: 600;
		text-transform: none
	}

	.wp-easy-setup-progressbar {
		progress {
			width: 100%;
		}

		progress::-moz-progress-bar {
			background: green;
		}

		progress::-webkit-progress-value {
			background: green;
		}
	}

	button {
		margin-top: 1em;
	}

	.wp-setup-error {
		span.hint {
			color: red;
			display: block;
		}
		input {
			border: 1px solid red;
			box-shadow: none;
		}
	}

	.wp-setup-ok {
		input {
			border: 1px solid green;
			box-shadow: none;
		}
	}
}
