#wp-plugin-setup {
	margin: 3em auto 0;
	width: 40%;
	min-width: 420px;

	.wp-easy-setup__header {
		overflow: hidden;
		margin-bottom: 2em;
	}

	.wp-easy-setup__header:before {
		background-image: url(../../../gfx/personio_logo_big.png);
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: inline-block;
		margin-top: 8px;
		width: 130px;
		height: 41px;
		float: right;
	}

	.components-panel__body p {
		line-height: 1.6;
	}

	.components-base-control__field > label {
		display: block;
		font-size: 16px;
		margin-bottom: 8px;
		font-weight: 600;
		text-transform: none
	}

	.wp-easy-setup-progressbar {
		progress {
			width: 100%;
		}

		progress::-moz-progress-bar {
			background: green;
		}

		progress::-webkit-progress-value {
			background: green;
		}
	}

	button {
		span > span {
			display: inline-block;
			margin-left: 0.4em;
		}
	}

	.wp-setup-error {
		span.hint {
			color: red;
			display: block;
		}
		input {
			border: 1px solid red;
			box-shadow: none;
		}
	}

	.wp-setup-ok {
		input {
			border: 1px solid green;
			box-shadow: none;
		}
	}
}
