.personio-position-filter-select {
	legend {
		display: inline-block;
		font-weight: bold;
		margin-right: 1.4em;
		padding: 0;
		width: auto;
	}

	&> fieldset {
		border: 0;
		margin: 0;
		padding: 0;
		& > div {
			cursor: pointer;
			display: inline-block;
			margin: 0 1.4em 0 0;
			position: relative;
			z-index: 1;
		}
	}

	label {
		display: block;
	}
}
