name: Build release zip

on:
    push:
        tags:
            - '*'
    workflow_dispatch:

jobs:
    build:
        name: Build release zip
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup WP-CLI
              uses: godaddy-wordpress/setup-wp-cli@1

            - name: Run package installs and builds
              run: |
                  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
                  export NVM_DIR=~/.nvm
                  source ~/.nvm/nvm.sh
                  composer install
                  composer update
                  npm i
                  npm i concurrently
                  cd vendor/threadi/easy-dialog-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../
                  cd vendor/threadi/easy-setup-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../
                  npm run build:show
                  npm run build:list
                  npm run build:filter-list
                  npm run build:filter-select
                  npm run build:application-button
                  npm run build:details
                  npm run build:description
                  npm run global-styles
                  cp inc/constants_urls.php.dist inc/constants_urls.php
                  rm -fr assets
                  rm -fr build
                  rm -fr releases
                  rm -fr svn
                  rm -fr languages
                  rm -fr example
                  rm readme.md

            - name: Set licence server
              uses: richardrigutins/replace-in-files@v2
              with:
                files: 'inc/constants_urls.php'
                search-text: '@@UrlLicense@@'
                replacement-text: 'https://laolaweb.com/wp-json/lwlicences/personio-integration/'

            - name: Set update server
              uses: richardrigutins/replace-in-files@v2
              with:
                files: 'inc/constants_urls.php'
                search-text: '@@UrlUpdate@@'
                replacement-text: 'https://laolaweb.com/wp-json/lwreleases/personio-integration/'

            - name: Set costs server
              uses: richardrigutins/replace-in-files@v2
              with:
                files: 'inc/constants_urls.php'
                search-text: '@@UrlCosts@@'
                replacement-text: 'https://laolaweb.com/wp-json/lwlicences/personio-integration/costs'

            - name: Generate hook documentation
              run: vendor/bin/wp-documentor parse app --format=markdown --output=doc/hooks.md --prefix=personio_integration --exclude=Section.php --exclude=Tab.php --exclude=Import.php --exclude=Export.php --exclude=Field_Base.php --exclude=Settings.php --exclude=Page.php --exclude=Widget_Base.php --exclude=Transients.php

            - name: Generate checksum
              uses: Solratic/checksum-action@v1
              with:
                    pattern: "inc/constants_urls.php"
                    suffix: "MD5"

            - name: Generate autoloader
              run: composer dump-autoload -oa --no-dev

            - name: Run PHPStan check
              run:  vendor/bin/phpstan analyse

            - name: PHP Compatibility check
              run: vendor/bin/phpcs -p app --standard=PHPCompatibilityWP

            - name: Run WordPress Coding Standard fixes
              run: vendor/bin/phpcbf --standard=ruleset.xml .
              continue-on-error: true

            - name: Run WordPress Coding Standard checks
              run: vendor/bin/phpcs --standard=ruleset.xml .

            - name: Set version number 1
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'personio-integration-light.php'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Set version number 2
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'uninstall.php'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Set version number 3
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'readme.txt'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Run PCP check
              uses: wordpress/plugin-check-action@v1
              with:
                  exclude-directories:
                      app/Dependencies/easyTransientsForWordPress/
                  ignore-codes:
                      WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound
                  include-experimental: false
                  error-severity: 7
                  warning-severity: 6
                  include-low-severity-errors: true
                  slug: personio-integration-light
              continue-on-error: true

            - name: Create ZIP release
              run: |
                  cd ..
                  mv ${{ github.event.repository.name }} personio-integration-light
                  zip -r -q personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/* -x "*/.git/*" "*/.github/*" "*/blocks/*/src/*" "*/doc/*" "*/legacy-classes/Divi/.yarn/*" "*/phpcs.xml" "*/composer.lock" "*/package.json" "*/package-lock.json" "*/ruleset.xml" "*/.gitignore" "*/vendor/*" "*/node_modules/*" "/.editorconfig" "*/tmp/*"  "/ruleset.xml"
                  zip -ur personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/vendor/autoload.php
                  zip -ur personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/vendor/composer/*
                  zip -ur personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/vendor/threadi/*/build/*
                  zip -ur personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/vendor/threadi/*/lib/*
                  zip -ur personio-integration-light_${{ github.ref_name }}.zip personio-integration-light/node_modules/intro.js/minified/*
                  mv personio-integration-light ${{ github.event.repository.name }}
                  cp personio-integration-light_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/

            - name: Create Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  files: personio-integration-light_${{ github.ref_name }}.zip
